@font-face {
    font-family: 'muller';
    src: url(../fonts/muller-reg.otf) format("oft");
}

@font-face {
    font-family: 'Ubuntu-Italic';
    src: url(../fonts/Ubuntu-MediumItalic.ttf);
}


@font-face {
    font-family: 'Comfortaa';
    src: url(../css/fonts/Comfortaa-Bold.ttf);
}
