.before {
    height: 60vh;
    .glide__arrow--right {
        outline: none;
        right: 1rem;
    }
    .glide__arrow--left {
        outline: none;
        left: 1rem;
    }

    &__box {
        height: 60vh;
        > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.reviews {
    .glide__arrow--right {
        outline: none;
        right: -0.7%;
    }
    .glide__arrow--left {
        outline: none;
        left: -1.7%;
    }
}

.glide {
    button.glide__bullet {
        outline: none;
    }
}
